{%- import '_macros/atoms' as render -%}

<div class="container mx-auto max-w-screen-xl flex flex-col md:flex-row justify-center flex-nowrap md:space-x-8">
    {{- render.atom('text', 'copyright', {
        alignment: 'text-center md:text-left',
        color: 'text-white',
        content: 'Product of <a href="https://percipio.london" class="underline" title="Percipio London">Percipio.London</a> - ' ~ '&copy; ' ~ now|date('Y'),
        utilities: 'py-3 order-2 md:order-1',
    }) -}}
</div>
