{%- extends '_molecules/content/_content--props' -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_molecules/content/_content--props.twig`

    ### COMPONENTS ###
    ------------------

    ## MOLECULES

    content--prose: `_atoms/content/content--prose.twig`
#}

{%- block copy -%}

    {%- minify -%}

        <div class="container max-w-[80ch] mx-auto my-5 md:my-10 {{ props.utilities -}}">
            <div class="animate" data-animation="slideBottomToTop">
                {%- include '_molecules/content/content--prose' ignore missing with {
                    content: props.content,
                } -%}
            </div>
        </div>

    {%- endminify -%}

{%- endblock -%}
