{% extends '_boilerplate/_layouts/generic-page-layout.twig' %}

{#
    ### COMPONENTS ###
    ------------------

    ## ORGANISMS

    view--page-home: `_organisms/views/view--page-home`
#}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{%- set component = '_organisms/views/view--page-landing' -%}

{% block content %}

    <div class="z-10 relative">
        {%- if entry ??? null %}

            {%- switch entry.type -%}

                {%- case 'contentPage' -%}
                    {%- set component = '_organisms/views/view--page-content' -%}

                {%- case 'docs' -%}
                    {%- set component = '_organisms/views/view--page-docs' -%}

                {%- case 'demoPage' -%}
                    {%- set component = '_organisms/views/view--page-demo' -%}

            {%- endswitch -%}

            {%- if component -%}
                {%- include component ignore missing with {
                    content: entry,
                } -%}
            {%- endif -%}

        {%- endif -%}
    </div>
    
    {# {%- if entry.showLinesFooter ??? null -%}
        <lines--horizontal></lines--horizontal>
    {%- endif -%} #}

{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {# {{ craft.vite.script("src/js/modules/navigation.ts", true) }} #}
{% endblock bodyJs %}
