{%- extends '_atoms/texts/_text--props' -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_atoms/texts/text--props.twig`

    OMITTED
    ---------

    color
#}

{%- block text -%}

    {%- minify -%}
        <div class="prose prose-standfirst-md lg:prose-standfirst my-12 md:my-18 lg:my-32 {{ props.alignment }} {{ props.utilities -}}">
            <p>{{- props.content | typogrify(true) -}}</p>
        </div>
    {%- endminify -%}

{%- endblock -%}
