{%- extends '_atoms/texts/_text--props' -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_atoms/texts/text--props.twig`
#}

{%- block text -%}
    {%- minify -%}
        <div class="font-primary text-sm md:text-base {{ props.color }} {{ props.alignment }} {{ props.utilities -}}">
            {{- props.content | typogrify(true) -}}
        </div>
    {%- endminify -%}
{%- endblock -%}
