{%- extends '_atoms/texts/_text--props' -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_atoms/texts/text--props.twig`

    OMITTED
    ---------

    alignment
    color
#}

{%- block text -%}

    {%- minify -%}
        <span class="text-gray-800 text-2xl-md md:text-2xl lg:text-3xl tracking-tightest {{ props.utilities -}}">
            {{- props.content | typogrify(true) | raw -}}
        </span>
    {%- endminify -%}

{%- endblock -%}