{# -- Layout template for HTML pages -- #}
{#
    ┌─────────────────────────────────────────────────────────────────────────────┐
    │ ┌─────────────────────────────────────────────────────────────────────────┐ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                                 content                                 │ │
    │ └─────────────────────────────────────────────────────────────────────────┘ │
    │ ┌─────────────────────────────────────────────────────────────────────────┐ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                                                                         │ │
    │ │                               subContent                                │ │
    │ └─────────────────────────────────────────────────────────────────────────┘ │
    │                                                                             │
    │                                  bodyHtml                                   │
    └─────────────────────────────────────────────────────────────────────────────┘
#}
{% extends '_boilerplate/_layouts/base-html-layout.twig' %}

{# -- Any <meta> tags that should be included in the <head> #}
{% block headMeta %}
{% endblock headMeta %}

{# -- Any <link> tags that should be included in the <head> #}
{% block headLinks %}
{% endblock headLinks %}

{# -- Any CSS that should be included before </head> -- #}
{% block headCss %}
{% endblock headCss %}

{# -- Page body -- #}
{% block bodyHtml %}

    {%- set navigation = craft.entries.section('navigation')
        .with(['target'])
        .collect()
    -%}

    <main id="page-container">
        {# -- Navigation --  #}
        {%- include '_organisms/navigations/navigation--primary' ignore missing with {
            navigation: navigation
        } -%}

        {# -- Primary content block with bypass id -- #}
        <div class="page-content w-full bg-white relative transition-transform duration-500 ease-slide z-[1]" id="page">
            {% block content %}
            {% endblock %}

            {# -- Footer -- #}
            {%- include '_organisms/footers/footer--primary' ignore missing -%}
        </div>

        {%- include '_organisms/navigations/navigation--mobile' ignore missing with {
            navigation: navigation
        } -%}
    </main>
    {# -- HTML Footer -- #}
    {% include '_boilerplate/_partials/global-footer.twig' %}
{% endblock bodyHtml %}
