{%- extends '_molecules/grid-items/_grid-item--props' -%}
{%- import '_macros/atoms' as render -%}

{#
    ### PROPERTIES ###
    ------------------

    INHERITED FROM: `_molecules/grid-items/_grid-item--props.twig`

    ### COMPONENTS ###
    ------------------

    ## ATOMS
    text--h4: `_atoms/texts/text--h4.twig`

    ## MOLECULES
    content--pros: `_molecules/content/content--prose.twig`
#}

{%- block grid -%}
    {%- minify -%}

        {%- set item = {
            heading: props.item.heading ??? '',
            body: props.item.body ??? '',
            image: props.item.image ??? ''
        } -%}
        {%- set utilities = utilities|default('') -%}

        <article class="border-b border-gray-300 {{ props.utilities }}">
            <h2 class="mb-4">
                {{- render.atom('text', 'h4', {
                    content: props.item.heading,
                    color: 'pink-500'
                }) -}}
            </h2>

            {%- include '_molecules/content/content--prose' ignore missing with {
                content: props.item.body,
            } -%}
        </article>
    {%- endminify -%}
{%- endblock -%}
