{% extends '_boilerplate/_layouts/generic-page-layout.twig' %}

{% set entry = craft.entries.section('errorPages').slug('error').one() %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    {%- include '_organisms/heroes/hero--primary' ignore missing with {
        content: {
            overline: entry.errorHeadline,
            title: entry.title,
            description: entry.errorText
        },
    } -%}
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}

