@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


@import './prism.pcss';
@import './hamburger.pcss';
@import './lines.pcss';
@import './scrollbar.pcss';