{%- include '_organisms/builders/builder--hero' ignore missing with {
    content: entry,
} -%}

<div class="container max-w-screen-xl mx-auto">
    {%- include '_organisms/builders/builder--page' with {
        content: entry,
    } -%}
</div>