{%- include '_organisms/heroes/hero--primary' ignore missing with {
    content: {
        title: entry.title,
        description: entry.description
    },
} -%}

<div class="container max-w-screen-xl mx-auto">
    {%- include '_organisms/builders/builder--content' with {
        content: entry,
    } -%}
</div>