{%- do craft.eagerBeaver.eagerLoadElements(entry,
    [
        'contentBuilder',
        'contentBuilder.highlightCards:cards',
        'contentBuilder.highlightCards:cards.teaserImage',
        'contentBuilder.galleryImages:images',
        'contentBuilder.media',
        'contentBuilder.form:form',
        'contentBuilder.media:embed',
        'contentBuilder.singleImage:image',
        'contentBuilder.resourceList:resources',
        'contentBuilder.resourceList:resources.target',
    ])
-%}

{%- minify -%}

    <div class="container max-w-screen-md mx-auto relative z-10 text-center">
        {%- for block in content.contentBuilder.collect().all() -%}

            {%- switch block.type -%}

                {%- case 'article' -%}

                    {%- include '_molecules/content/content--article' ignore missing with {
                        content: block.article,
                        utilities: 'mb-10 lg:mb-20'
                    } -%}

                {%- case 'sectionHeader' -%}

                    {%- include '_molecules/content/content--section-header' ignore missing with {
                        content: block,
                        utilities: 'mb-10 lg:mb-20'
                    } -%}

                {%- case "singleImage" -%}

                    {%- include '_molecules/images/image--article' ignore missing with {
                        image: block.image.collect().one(),
                    } -%}

            {%- endswitch -%}

        {%- endfor -%}
    </div>

{%- endminify -%}
